apiVersion: v1
kind: Config
clusters:
- cluster:
    server: http://{{ api_servers }}:8080
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: kubelet
current-context: kubelet
users:
- name: kubelet
  user:
    token: chAng3m3