[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-controller-manager \
  --allocate-node-cidrs=true \
  --cluster-cidr=10.240.0.0/16 \
  --cluster-name=kubernetes \
  --leader-elect=true \
  --master=http://{{ internal_ip.stdout }}:8080 \
  --service-cluster-ip-range=10.240.0.0/16 \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target