[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-apiserver \
  --admission-control="" \
  --advertise-address={{ internal_ip.stdout }} \
  --allow-privileged=true \
  --apiserver-count=1 \
  --authorization-mode=ABAC \
  --authorization-policy-file=/var/lib/kubernetes/authorization-policy.jsonl \
  --bind-address={{ internal_ip.stdout }} \
  --enable-swagger-ui=true \
  --insecure-bind-address=0.0.0.0 \
  --etcd-servers={{ etcd_servers }}\
  --insecure-port=8080 \
  --service-node-port-range=30000-32767 \
  --token-auth-file=/var/lib/kubernetes/token.csv \
  --service-cluster-ip-range=10.240.0.0/16 \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target