Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd \
    --listen-client-urls http://{{ internal_ip.stdout }}:2379  \
    --advertise-client-urls http://{{ internal_ip.stdout }}:2379
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target